.HighScores{
    display:flex;
    flex-direction: column;
    height:85vh;
}

.scoresArea{
    display:flex;
    flex-direction: column;
    height:85vh;
    justify-content: center;
}

h4{
    margin-bottom:5px;
}

@media only screen and (max-width:325px){

    h2{
        margin-top:0;
        margin-bottom:1vh;
    }
    
    h4{
        margin-top:2vh;
        margin-bottom:0;
    }

    .scoresArea{
        justify-content: space-around;
    }

    button#back{
        font-size: 0.6em;
        margin:0;
        width:30vw;
    }


}

@media only screen and (max-width:480px){

    h2{
        margin-top:0;
    }
    
    h4{
        margin-top:2vh;
        margin-bottom:0;
    }

    button{
        margin:0;
    }
}

@media only screen and (min-width:900px){

    h2{
        font-size: 1.5em;
    }

    h4{
        font-size: 1.5em;
    }

    .playerName, .playerTime{
        font-size: 1.5em;
    }


}