.HighScores{
    display:flex;
    flex-direction: column;
    height:85vh;
}

.scoresArea{
    height:45vh;
}

button#back{
    margin: 0;
}

h4{
    margin-top:1vh;
    margin-bottom:0;
}

header{
    padding:0;
}


@media only screen and (min-width:300px) and (max-width:600px){

    h2{
        margin-top:0;
        margin-bottom:1vh;
    }
    
    h4{
        margin-top:2vh;
        margin-bottom:0;
    }

    .scoresArea{
        justify-content: space-around;
    }

    button#back{
        font-size: 0.8em;
        margin-top:2vh;
        width:30vw;
    }


}

@media only screen and (min-width:601px) and (max-width:900px){

    h2{
        margin-top:0;
    }
    
    h4{
        margin-top:2vh;
        margin-bottom:0;
    }

    button{
        margin:0;
    }
}

@media only screen and (min-width:901px){

    h2{
        font-size: 1.5em;
    }

    h4{
        font-size: 1.5em;
    }

    .playerName, .playerTime{
        font-size: 1.5em;
    }


    button#back{
        font-size: 1em;
        margin-top:2vh;
        width:30vw;
    }

}