*{
    box-sizing: border-box;
}

.experienceLevelScreen{
    display:flex;
    justify-content: center;
    flex-direction: column;
    padding:5%;
    text-align: center;
    height:65vh;
}

#continueButton{
    margin-top: 5vh;
}

select{
    font-size: 1.5em;
}

@media only screen and (min-width:300px) and (max-width:480px){


}


@media only screen and (min-width:481px) and (max-width:720px){


}

@media only screen and (min-width:721px) and (max-width:1024px){

  
}

@media only screen and (min-width:1025px) and (max-width:1400px){

}

@media only screen and (min-width:1401px){

}