html, .App{
    margin:0;
    height:100%;
  }
  
.App {
    text-align: center;
    border:2px solid black;
    display:flex;
    height:100vh;
    flex-direction: column;
  }

h1{
   margin:0;
  }

header{
  height:15vh;
}

main{
  height:85vh;
}


@media only screen and (min-width:300px) and (max-width:480px){
  header{
    height:10vh;
  }

}


@media only screen and (min-width:481px) and (max-width:720px){


}

@media only screen and (min-width:721px) and (max-width:1024px){

  
}

@media only screen and (min-width:1025px) and (max-width:1400px){

}

@media only screen and (min-width:1401px){

}