*{
    box-sizing: border-box;
}

html, .cardContainer{
     margin:0;
     width:3em;
     height:auto;

}

.card{
    display: flex;
    justify-content: center;
    border-style: solid;
    border-color:black;
    border-width:2px;
    height:4em;
    width:3em;
    margin-top:auto;
    margin-bottom:auto;
    align-items:center;
    background-color: red;
}

.cardImage{
    border-style: solid;
    border-color:red;
    border-width:1px;
    height:2.5em;
    width:3em;
    background-color: aliceblue;
}



@media only screen and (min-width:720px){

    .cardContainer{
        width:6em;
    }

    .card{
        height:8em;
        width:6em;
    }

    .cardImage{
        height:5em;
        width:6em;
        display:flex;
        justify-content: center;
        align-items:center;
    }

}