*{
    box-sizing: border-box;
}

html, .cardContainer{
     margin:0;
     width:3em;
     height:auto;

}

.card{
    display: flex;
    justify-content: center;
    border-style: solid;
    border-color:black;
    border-width:2px;
    height:4em;
    width:3em;
    margin-top:auto;
    margin-bottom:auto;
    align-items:center;
}

.cardImage{
    border-style: solid;
    border-color:red;
    border-width:1px;
    height:2.5em;
    width:3em;
}