.PlayerStats{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 85vh;
}

p{
    margin:0;
}

@media only screen and (min-width:300px) and (max-width:320px){

    p{
        font-size: 0.6em;        
    }
}

@media only screen and (min-width:321px) and (max-width:480px){

    p{
        font-size: 0.8em;
    }
}


@media only screen and (min-width:481px) and (max-width:720px){


}

@media only screen and (min-width:721px) and (max-width:1024px){

  
}

@media only screen and (min-width:1025px) and (max-width:1400px){
    .PlayerStats{
        height:70vh;
    }

    p{
        font-size: 1.6em;
    }
}

@media only screen and (min-width:1401px){
 
    .PlayerStats{
        height:70vh;
    }
    
    p{
        font-size: 1.8em;
    }
}