.loginPage{
    padding:5%;
    display: flex;
    flex-direction: column;
}

#loginButton{
    margin-bottom:2vh;
}

#registerButton{
    margin-top:5vh;
}


#loginButton, #registerButton{
    font-size: 1em;
}

.error{
    color: red;
    font-size: 1.5em;
}

@media only screen and (min-width:300px) and (max-width:480px){


}


@media only screen and (min-width:481px) and (max-width:720px){


}

@media only screen and (min-width:721px) and (max-width:1024px){

  
}

@media only screen and (min-width:1025px) and (max-width:1400px){

}

@media only screen and (min-width:1401px){

}